.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f900;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); 
}

.upload-btn, .play-btn {
  background-color: rgba(76, 175, 79, 0.24);
  color: #ffffff;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s; 
  box-shadow: 0 4px 6px rgba(238, 229, 229, 0.1);
  margin-bottom: 10px;
  min-width: 150px;
}

.upload-btn:hover, .play-btn:hover {
  background-color: rgba(69, 160, 73, 0.2); 
  transform: translateY(-2px); 
}

.audio-name {
  font-size: 20px;
  color: #ffffff;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
}

.play-btn {
  background-color: rgba(0, 139, 186, 0.1);
  margin-top: 15px;
}

.play-btn:hover {
  background-color: rgba(0, 124, 181, 0.2); 
}

@media (max-width: 768px) {
  .upload-btn, .play-btn {
      padding: 10px 20px;
      font-size: 14px;
  }

  .audio-name {
      font-size: 18px; 
  }
}

@media (max-width: 480px) {
  .upload-btn, .play-btn {
      padding: 8px 16px;
      font-size: 12px;
      min-width: 120px;
  }

  .audio-name {
      font-size: 15px;
      margin-top: 8px;
  }
}
