.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 10px;
  background-color: #ffffff00;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navbar button {
  padding: 10px 10px; 
  border: 1px solid white;
  border-radius: 15px;
  cursor: pointer;
  background-color: #3f83e7;
  color: #ffffff; 
  transition: background-color 0.3s ease; 
}

.navbar button:hover {
  background-color: #3700b3; 
}

@media (max-width: 768px) {
  .navbar {
      flex-direction: column; 
      align-items: stretch;
  }

  .navbar button {
      width: 100%; 
      margin: 5px 0; 
  }
}
