/* src/components/Settings.css */
.settings-modal {
  position: fixed; /* Позиция фиксирована, чтобы модальное окно оставалось на месте при прокрутке */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(39, 39, 39, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.settings-content {
  background-color: #53f12c; /* Используйте нужный цвет */
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 90%; /* Изменено для адаптивности */
  max-width: 300px; /* Максимальная ширина для больших экранов */
  position: relative;
}

.close-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px; /* Размер шрифта для лучшей читаемости */
  margin-top: 10px; /* Отступ сверху для отделения от других элементов */
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 100%; /* Изменено для адаптивности */
  border: 1px solid #ccc; /* Граница для текстовых полей */
  border-radius: 5px; /* Скругление углов */
}

.sett {
  background-color: rgb(250, 74, 74);
  color: rgb(255, 255, 255);
  padding: 10px; /* Отступ для улучшения визуального восприятия */
  border-radius: 5px; /* Скругление углов */
}
